.Comment-Box{
    border: 1px solid black;
    padding: 20px;
    width: 700px;
    margin: 0px auto;
    margin-top: 50px;
}
.Comment{
    border: 1px solid gainsboro;
    padding: 10px;
    margin-bottom: 10px;
    width:auto;
}
.Image
{
    width: 15%;
    display: inline-block;
}
.DataPart
{
    width: 85%;
    display: inline-block;
    vertical-align: text-bottom;
}